In [2]:
import numpy as np

In [3]:
url = '/home/mihir/ML_practice/numpy101/archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',',dtype='float',usecols=[0,1,2,3])

 How to find the position of the first occurrence of a value greater than a given value?
Difficulty Level: L2

Q. Find the position of the first occurrence of a value greater than 1.0 in petalwidth 4th column of iris dataset.

In [4]:
np.argwhere(iris[:,3].astype(float) > 1.0)[0]

array([50])

How to replace all values greater than a given value to a given cutoff?
Difficulty Level: L2

Q. From the array a, replace all values greater than 30 to 30 and less than 10 to 10.

In [5]:
np.random.seed(100)
a = np.random.uniform(1,50,20)

In [6]:
np.clip(a, a_min = 10, a_max=30)

array([27.62684215, 14.64009987, 21.80136195, 30.        , 10.        ,
       10.        , 30.        , 30.        , 10.        , 29.17957314,
       30.        , 11.25090398, 10.08108276, 10.        , 11.76517714,
       30.        , 30.        , 10.        , 30.        , 14.42961361])

How to get the positions of top n values from a numpy array?
Difficulty Level: L2

Q. Get the positions of top 5 maximum values in a given array a.

In [7]:
np.random.seed(100)
a = np.random.uniform(1,50, 20)

In [8]:
print(a)

[27.62684215 14.64009987 21.80136195 42.39403048  1.23122395  6.95688692
 33.86670515 41.466785    7.69862289 29.17957314 44.67477576 11.25090398
 10.08108276  6.31046763 11.76517714 48.95256545 40.77247431  9.42510962
 40.99501269 14.42961361]

In [11]:
print(np.sort(a)[-5:])

[40.99501269 41.466785   42.39403048 44.67477576 48.95256545]

In [ ]:
How to compute the row wise counts of all possible values in an array?
Difficulty Level: L4

Q. Compute the counts of unique values row-wise.

In [12]:
np.random.seed(100)
arr = np.random.randint(1,11,size=(6, 10))

In [17]:
def counts_of_all_values_rowwise(arr2d):
    num_counts_array = [np.unique(row, return_counts = True) for row in arr2d]
    return([[int(b[a == i]) if i in a else 0 for i in np.unique(arr2d)] for a,b in num_counts_array])

In [18]:
counts_of_all_values_rowwise(arr)

[[1, 0, 2, 1, 1, 1, 0, 2, 2, 0],
 [2, 1, 3, 0, 1, 0, 1, 0, 1, 1],
 [0, 3, 0, 2, 3, 1, 0, 1, 0, 0],
 [1, 0, 2, 1, 0, 1, 0, 2, 1, 2],
 [2, 2, 2, 0, 0, 1, 1, 1, 1, 0],
 [1, 1, 1, 1, 1, 2, 0, 0, 2, 1]]

How to convert an array of arrays into a flat 1d array?
Difficulty Level: 2

Q. Convert array_of_arrays into a flat linear 1d array.

In [22]:
arr1 = np.arange(3)
arr2 = np.arange(3,7)
arr3 = np.arange(7,10)

array_of_arrays = np.array([arr1, arr2, arr3])
array_of_arrays

array([array([0, 1, 2]), array([3, 4, 5, 6]), array([7, 8, 9])],
      dtype=object)