In [2]:
import numpy as np
import pandas as pd

How to get the items of series A not present in series B?
Difficulty Level: L2

From ser1 remove items present in ser2.

In [4]:
ser1 = pd.Series([1,2,3,4,5,6])
ser2 = pd.Series([4,5,6,7,8,9])

In [5]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

How to get the items not common to both series A and series B?
Difficulty Level: L2

Get all items of ser1 and ser2 not common to both.

Input

In [6]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [11]:
ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
Difficuty Level: L2

Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

In [12]:
np.random.RandomState(100)
ser = pd.Series(np.random.normal(10,5,25))
np.percentile(ser,q=[0,25,50,75,100])

array([ 0.84517916,  7.28259376,  9.9438007 , 11.95075954, 17.53468886])

How to get frequency counts of unique items of a series?

Difficulty Level: L1
Calculte the frequency counts of each unique value ser.

In [13]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8,size=30)))

In [14]:
print(ser)

0     b
1     c
2     d
3     c
4     g
5     e
6     f
7     f
8     d
9     e
10    b
11    e
12    d
13    c
14    d
15    g
16    h
17    a
18    e
19    h
20    a
21    a
22    f
23    c
24    h
25    g
26    b
27    b
28    g
29    d
dtype: object

In [17]:
ser.value_counts()

d    5
g    4
c    4
b    4
e    4
f    3
a    3
h    3
dtype: int64

How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
Difficulty Level: L2

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [21]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1,5,[12]))
print(ser)

0     2
1     2
2     3
3     2
4     2
5     3
6     1
7     1
8     1
9     2
10    1
11    1
dtype: int64

In [22]:
print("Top 2 Freq: ", ser.value_counts())

Top 2 Freq:  2    5
1    5
3    2
dtype: int64

In [23]:
ser[~ser.isin(ser.value_counts().index[:2])] = "Other"
print(ser)

0         2
1         2
2     Other
3         2
4         2
5     Other
6         1
7         1
8         1
9         2
10        1
11        1
dtype: object